---
layout: default
id: home
---

<div class="about" id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <p class="title"><span class="tilt">Who</span> are we?</p>
            </div>
        </div>
        <div class="row">
            <p class="description">
                We are a small flexible team of developers and artists with a passion to make games and software. Not only the final product is our focus, but we also highly value the way we get there. To accomplish this we work in short development cycles to ensure that the product is always moving in the right direction. At each step of the way we make sure that the right professional is on the job.
            </p>
        </div>
    </div>
</div>
<div class="projects" id="games">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <p class="title"><span class="tilt">Our</span> games</p>
            </div>
        </div>
        <div class="row center">
            {% for post in site.posts %}
            {% if post.category == "game"%}
                <a class="portfolio-item" href="#{{post.tag}}">
                    <div class="col-lg-4 col-sm-6 project flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="{{site.baseurl}}/assets/images/projects/{{post.images[0].url}}" alt="{{post.images[0].alt}}">
                                <h2 class="">{{ post.name }}</h2>
                            </div>
                            <div class="flip-card-back">
                                <div class="content">
                                    <div class="excerpt">{{ post.excerpt }}</div>
                                    <div class="details">Click to learn more</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

<div class="projects bg-g" id="apps">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <p class="title"><span class="tilt">Our</span> applications</p>
            </div>
        </div>
        <div class="row center">
            {% for post in site.posts %}
            {% if post.category == "software"%}
                <a class="portfolio-item" href="#{{post.tag}}">
                    <div class="col-lg-4 col-sm-6 project flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="{{site.baseurl}}/assets/images/projects/{{post.images[0].url}}" alt="{{post.images[0].alt}}">
                                <h2 class="">{{ post.name }}</h2>
                            </div>
                            <div class="flip-card-back">
                                <div class="content">
                                    <div class="excerpt">{{ post.excerpt }}</div>
                                    <div class="details">Click to learn more</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

<div class="partners">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <p class="title"><span class="tilt">Our</span> partners</p>
            </div>
        </div>
        <div class="row center">
                {% for post in site.posts reversed %}
                {% if post.category == "partner"%}
                <a href="{{post.site}}">
                    <div class="col-lg-4 col-sm-6 project flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img class="bg-g" src="{{site.baseurl}}/assets/images/partners/{{post.images[0].url}}" alt="{{post.images[0].alt}}">
                                <h2 class="">{{ post.name }}</h2>
                            </div>
                            <div class="flip-card-back">
                                <div class="content">
                                    <h3>{{ post.header }}</h3>
                                    <h2>{{ post.name }}</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                {% endif %}
                {% endfor %}
        </div>
    </div>
</div>

<div class="question" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <p class="title"><span class="tilt">Get</span> in touch</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <p class="description">
                        Do you have a great idea for a game or need specialized software just for you? We are always excited to discuss your ideas and see where it can go!
                    </p>
                </div>
                
                <a class="linkbutton center js-scroll-trigger" href="mailto:finn@ceroflux.com?Subject=Contact%20Form">Send Mail</a>
            </div>
        </div>
    </div>
</div>

<div class="location text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-3 mb-5 mb-lg-0">
                <h4 class="mb-4">Location</h4>
                <p class="lead mb-0">Europalaan 400<br>3526 KS Utrecht</p>
            </div>
            <div class="col-md-6 mb-5 mb-lg-0">
                <h4 class="mb-4">Email</h4>
                <p class="lead mb-0">finn@ceroflux.com</p>
            </div>
            <div class="col-md-3 mb-5 mb-lg-0">
                <h4 class="mb-4">Info</h4>
                <p class="lead mb-0">KvK - 70868689 <br> BTW - NL219282237B01</p>
            </div>
        </div>
    </div>
</div>

<!-- Modals -->

{% for post in site.posts %}
{% if post.category == "game" or post.category == "software"%}
    <div id="{{post.tag}}" class="portfolio-modal mfp-hide" role="dialog">
        <div class="portfolio-modal-dialog">
            
            <div class="portfolio-modal-content container">
                <div class="portfolio-modal-header">
                    <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
                        <i class="fa fa-2x fa-times"></i>
                    </a>
                    <h2 class="portfolio-modal-title">{{ post.name }}</h2>
                </div>
                <div class="portfolio-modal-body">
                    <div class="project-details">
                        <div class="project-image">
                            <img class="" src="{{site.baseurl}}/assets/images/projects/{{post.images[0].url}}" alt="{{post.images[0].alt}}">
                        </div>
                        {{ post.content }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% endfor %}