/*---------- HEADER ----------*/
header {
    position: relative;
    background-image: url(../../assets/images/ceroflux.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    min-height: 900px;
    z-index: 0;
}

/*---------- NAVIGATION BAR ----------*/
.navbar {
    height: 95px;
}
.navbar-default {
    background-color: transparent;
    border: none;
    .navbar-brand {
        img {
            margin-top: 15px;
            width: 225px;
        }
    }
    .navbar-nav {
        li {
            margin-top: 45px;
            padding-left: 5px;
            padding-right: 5px;
            a {
                font-size: 18px;
                color: $blue;
                text-transform: uppercase;
                font-weight: 600;
            }
        }
    }
}
.navbar-default .navbar-toggle.collapsed {
    background-color: transparent;
}
.navbar-collapse {
    border: none;
}

/*---------- MAIN JUMBOTRON ----------*/
.main {
    .main-intro {
        margin-top: 300px;
        color: $blue;
        font-weight: 500;
        font-size: 47px;
    }
    .quick-intro {
        color: #929292;
        margin: 30px 0;
        line-height: 2;
        font-weight: 500;
    }
    a{
        text-decoration: none;
    }
    .button {
        margin: 30px 0;
        background-image: linear-gradient(to right, $blue, $orange);
        height: 50px;
        line-height: 50px;
        width: 150px;

        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
        font-size: 18px;
        font-weight: 500;

       &:hover {
            background-image: linear-gradient( to right, $orange, $blue);
        }
    }
}

@media only screen and (max-width: 986px), only screen and (max-device-width: 986px) {
    .main {
        .quick-intro {
            max-width: 450px;
        }
    }
}