$blue: #140C46;
$orange: #EB4D27;

/*---------- GENERAL ----------*/
html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    color: #000;
    overflow-x: hidden;
}

.center {
    margin-top: 45px;
    text-align: center;
}

.bg-g {
    background: #f4f4f4;
}

.bold {
    font-weight: bold;
}

.linkbutton {
        background-image: linear-gradient(to right, $blue, $orange);
        display: block;
        margin: 30px 0;
        height: 50px;
        line-height: 50px;
        width: 150px;

        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        &:hover {
                background-image: linear-gradient( to right, $orange, $blue);
                color: #fff;
                text-decoration: none;
            }
        &:active, &:focus, &:visited {
            text-decoration: none;
            color: #fff;

        }
}

.linkbutton.center {
    margin: auto;
}

.content {
    margin: auto;
}

/*---------- ABOUT SECTION ----------*/
.about {
    border-top: 2px solid #f4f4f4;
    padding: 35px;
    background-color: #f4f4f4;
    position: relative;
    .title {
        margin-top: 8px;
        font-size: 35px;
        color: $blue;
        span.tilt {
            padding: 10px 20px;
            background-color: $blue;
            color: #fff;

        }
    }
    .description {
        margin-top: 25px;
        color: #929292;
        line-height: 2;
    }
    img {
        margin-bottom: 20px;
        width: 100%;
        height: 100%;
    }
}

/*---------- PROJECTS SECTION ----------*/
.projects {
    padding: 35px;
    .title {
        font-size: 35px;
        color: $blue;
        span.tilt {
            padding: 10px 20px;
            background-color: $blue;
            color: #fff;

        }
    }
}

.project {
    padding: 0;
    margin: 10px;
    a{
        text-decoration: none;
    }
    .button {
        padding: 10px 0;
        width: 150px;
        background: linear-gradient(to right, $blue, $orange);
        margin: 15px auto 15px auto;
        color: #fff;
        text-transform: uppercase;
        transition: opacity .25s ease-in-out;
       -moz-transition: opacity .25s ease-in-out;
       -webkit-transition: opacity .25s ease-in-out;
        &:hover {
            background: linear-gradient( to right, $orange, $blue);
        }
    }
    img {
        height: 100%;
        width: 100%;
    }
}

.project-details {
    .project-image {
        margin-bottom: 35px;
    }
    .dev {
        span {
            font-weight: bold;
        }
    }
    .detail {
        span {
            font-weight: bold;
        }
    }
}

/*---------- PARTNERS SECTION ----------*/
.partners {
    padding: 35px;
    .title {
        font-size: 35px;
        color: $blue;
        span.tilt {
            padding: 10px 20px;
            background-color: $blue;
            color: #fff;

        }
    }
    .partner {
        position: relative;
        display: block;
        max-width: 650px;
        max-height: 350px;
        margin: 0 auto;
        padding: 0;
        img {
            max-height: 100%;
            max-width: 100%;
            vertical-align: middle;
        }
    }
}

/*---------- CONTACT SECTION ----------*/
.question {
    padding: 65px;
    background-color: #f4f4f4;
    text-align: center;
    a{
        text-decoration: none;
    }
    .col-md-12 {
        p {
            font-size: 28px;
        }
        .button {
            height: 50px;
            line-height: 50px;
            width: 150px;
            background-image: linear-gradient(to right, $blue, $orange);
            margin: 15px auto 15px auto;
            color: #fff;
            text-transform: uppercase;
            &:hover {
                background-image: linear-gradient( to right, $orange, $blue);
            }
        }
    }
}

/*---------- MODALS SECTION ----------*/
.img-responsive {
    width: 100%;
}

/*---------- OVERLAY SECTION ----------*/
.overlay-box {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
    color: #fff;
    background: $orange;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;

    .content {
        padding: 10px;
        position: absolute;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);

        .excerpt {
            font-size: 18px;
            margin: 0;
        }

        .details {
            font-size: 22px;
            font-weight: bold;
            color: $blue;
        }

        h2 {
            font-size: 25px;
            font-weight: normal;
            text-align: center;
            margin: 0;
        }

        h3 {
            font-size: 15px;
            color: #ccc;
            font-weight: bold;
            text-align: center;
            margin: 0;
        }

        h4 {
            font-size: 15px;
            color: #222;
            font-weight: bold;
            text-align: center;
            margin: 0;
        }
    }
}

.overlay-box:hover {
    opacity: 100;
}