@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');

$blue: #140C46;
$orange: #EB4D27;

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    color: #000;
    overflow-x: hidden;
}

.header {
    background-image: url(../../assets/imgs/oeroflux.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100%;
}
.navbar {
    height: 95px;
}
.navbar-default {
    background-color: transparent;
    border: none;
    .navbar-brand {
        img {
            margin-top: 15px;
            width: 225px;
        }
    }
    .navbar-nav {
        li {
            margin-top: 45px;
            padding-left: 5px;
            padding-right: 5px;
            a {
                font-size: 18px;
                color: $blue;
                text-transform: uppercase;
                font-weight: 600;
            }
        }
    }
}

.main {
    .main-intro {
        margin-top: 300px;
        color: $blue;
        font-weight: 500;
        font-size: 47px;
    }
    .quick-intro {
        color: #929292;
        line-height: 2;
        font-weight: 500;
    }
    .button {
        margin-top: 45px;
        a {
            padding: 15px 30px;
            background: linear-gradient(to right, $blue, $orange);
            color: #fff;
            text-transform: uppercase;
            text-decoration: none;
            font-weight: 500;
            font-size: 18px;
            transition: opacity .25s ease-in-out;
           -moz-transition: opacity .25s ease-in-out;
           -webkit-transition: opacity .25s ease-in-out;
            &:hover {
                background: linear-gradient( to right, $orange, $blue);
            }
        }
    }
}

.about {
    border-top: 2px solid #f4f4f4;
    padding: 35px;
    background-color: #f4f4f4;
    .title {
        margin-top: 75px;
        font-size: 35px;
        color: $blue;
        span.tilt {
            padding: 10px 20px;
            background-color: $blue;
            color: #fff;

        }
    }
    .description {
        margin-top: 65px;
        color: #929292;
        line-height: 2;
    }
    img {
        margin-top: 45px;
    }
}

.projects {
    padding: 35px;
//    border-top: 1px solid #ddd;
    .title {
        margin-top: 75px;
        font-size: 35px;
        color: $blue;
        span.tilt {
            padding: 10px 20px;
            background-color: $blue;
            color: #fff;

        }
    }
}
.center {
    margin-top: 45px;
    text-align: center;
}
.project {
    .button {
        margin-top: 20px;
        a {
            margin-top: 20px;
            padding: 10px 20px;
            background: linear-gradient(to right, $blue, $orange);
            color: #fff;
            text-transform: uppercase;
            text-decoration: none;
            transition: opacity .25s ease-in-out;
           -moz-transition: opacity .25s ease-in-out;
           -webkit-transition: opacity .25s ease-in-out;
            &:hover {
                background: linear-gradient( to right, $orange, $blue);
            }
        }
    }
}

.question {
    padding: 65px;
    background-color: #f4f4f4;
    text-align: center;
    .col-md-12 {
        p {
            font-size: 28px;
        }
        .button {
            margin-top: 22px;
            a {
                margin-top: 20px;
                padding: 10px 20px;
                background: linear-gradient(to right, $blue, $orange);
                color: #fff;
                text-transform: uppercase;
                text-decoration: none;
                transition: opacity .25s ease-in-out;
               -moz-transition: opacity .25s ease-in-out;
               -webkit-transition: opacity .25s ease-in-out;
            &:hover {
                background: linear-gradient( to right, $orange, $blue);
            }
            }
        }
    }
}

@media only screen and (max-width: 986px), only screen and (max-device-width: 986px) {
    .main {
        .quick-intro {
            margin: 0 auto;
            width: 450px;
            position: relative;
            left: -115px;
        }
    }
}

.bg-g {
    background: #f4f4f4;
}

.footer {
    padding: 35px;
    background-color: #1D1D1D;
    p {
        color: #fff;
    }
    a {
        color: #ddd;
        text-decoration: none;
        &:hover {
            color: #fff;
        }
    }
}

.project-details {
    .project-image {
        margin-bottom: 35px;
    }
    .dev {
        span {
            font-weight: bold;
        }
    }
    .detail {
        span {
            font-weight: bold;
        }
    }
}

.button {
    button {
        margin-top: 20px;
        padding: 10px 20px;
        background: linear-gradient(to right, $blue, $orange);
        color: #fff;
        text-transform: uppercase;
        border: none;
        text-decoration: none;
        transition: opacity .25s ease-in-out;
        -moz-transition: opacity .25s ease-in-out;
        -webkit-transition: opacity .25s ease-in-out;
        &:hover {
            background: linear-gradient( to right, $orange, $blue);
        }
    }
}

.bold {
    font-weight: bold;
}

.partners {
    padding: 35px;
    .title {
        margin-top: 75px;
        font-size: 35px;
        color: $blue;
        span.tilt {
            padding: 10px 20px;
            background-color: $blue;
            color: #fff;

        }
    }
    .partner {
        margin-top: 35px;
        img {
            width: 125px;
            vertical-align: middle;
        }
    }
}