$blue: #140C46;
$orange: #EB4D27;

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    color: #000;
    overflow-x: hidden;
}

header {
    position: relative;
    // background-image: url(../../assets/images/ceroflux.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    min-height: 900px;
}
.navbar {
    height: 95px;
}
.navbar-default {
    background-color: transparent;
    border: none;
    .navbar-brand {
        img {
            margin-top: 15px;
            width: 225px;
        }
    }
    .navbar-nav {
        li {
            margin-top: 45px;
            padding-left: 5px;
            padding-right: 5px;
            a {
                font-size: 18px;
                color: $blue;
                text-transform: uppercase;
                font-weight: 600;
            }
        }
    }
}
.navbar-default .navbar-toggle.collapsed {
    background-color: transparent;
}
.navbar-collapse {
    border: none;
}

.main {
    .main-intro {
        margin-top: 300px;
        color: $blue;
        font-weight: 500;
        font-size: 47px;
    }
    .quick-intro {
        color: #929292;
        margin: 30px 0;
        line-height: 2;
        font-weight: 500;
    }
    a{
        text-decoration: none;
    }
    .button {
        margin: 30px 0;
        background: linear-gradient(to right, $blue, $orange);
        height: 50px;
        line-height: 50px;
        width: 150px;

        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
        font-size: 18px;
        font-weight: 500;

       &:hover {
        background: linear-gradient( to right, $orange, $blue);
    }
    }
}

.about {
    border-top: 2px solid #f4f4f4;
    padding: 35px;
    background-color: #f4f4f4;
    position: relative;
    .title {
        margin-top: 8px;
        font-size: 35px;
        color: $blue;
        span.tilt {
            padding: 10px 20px;
            background-color: $blue;
            color: #fff;

        }
    }
    .description {
        margin-top: 25px;
        color: #929292;
        line-height: 2;
    }
    img {
        margin-bottom: 20px;
        width: 100%;
        height: 100%;
    }
}

.projects {
    padding: 35px;
    .title {
        font-size: 35px;
        color: $blue;
        span.tilt {
            padding: 10px 20px;
            background-color: $blue;
            color: #fff;

        }
    }
}
.center {
    margin-top: 45px;
    text-align: center;
}
.project {
    padding: 0;
    margin: 10px;
    a{
        text-decoration: none;
    }
    .button {
        padding: 10px 0;
        width: 150px;
        background: linear-gradient(to right, $blue, $orange);
        margin: 15px auto 15px auto;
        color: #fff;
        text-transform: uppercase;
        transition: opacity .25s ease-in-out;
       -moz-transition: opacity .25s ease-in-out;
       -webkit-transition: opacity .25s ease-in-out;
        &:hover {
            background: linear-gradient( to right, $orange, $blue);
        }
    }
    img {
        height: 100%;
        width: 100%;
    }
}

.question {
    padding: 65px;
    background-color: #f4f4f4;
    text-align: center;
    a{
        text-decoration: none;
    }
    .col-md-12 {
        p {
            font-size: 28px;
        }
        .button {
            height: 50px;
            line-height: 50px;
            width: 150px;
            background: linear-gradient(to right, $blue, $orange);
            margin: 15px auto 15px auto;
            color: #fff;
            text-transform: uppercase;
            &:hover {
                background: linear-gradient( to right, $orange, $blue);
            }
        }
    }
}

@media only screen and (max-width: 986px), only screen and (max-device-width: 986px) {
    .main {
        .quick-intro {
            max-width: 450px;
        }
    }
}

.bg-g {
    background: #f4f4f4;
}

footer {
    padding: 35px;
    background-color: #1D1D1D;
    p {
        color: #fff;
    }
    a {
        color: #ddd;
        text-decoration: none;
        &:hover {
            color: #fff;
        }
    }
}

.project-details {
    .project-image {
        margin-bottom: 35px;
    }
    .dev {
        span {
            font-weight: bold;
        }
    }
    .detail {
        span {
            font-weight: bold;
        }
    }
}

.button {
    button {
        margin-top: 20px;
        padding: 10px 20px;
        background: linear-gradient(to right, $blue, $orange);
        color: #fff;
        text-transform: uppercase;
        border: none;
        text-decoration: none;
        transition: opacity .25s ease-in-out;
        -moz-transition: opacity .25s ease-in-out;
        -webkit-transition: opacity .25s ease-in-out;
        &:hover {
            background: linear-gradient( to right, $orange, $blue);
        }
    }
}

.bold {
    font-weight: bold;
}

.partners {
    padding: 35px;
    .title {
        font-size: 35px;
        color: $blue;
        span.tilt {
            padding: 10px 20px;
            background-color: $blue;
            color: #fff;

        }
    }
    .partner {
        position: relative;
        display: block;
        max-width: 650px;
        max-height: 350px;
        margin: 0 auto;
        img {
            max-height: 100%;
            max-width: 100%;
            vertical-align: middle;
        }
    }
}

.overlay-box {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
    color: #fff;
    background: #ea7e30;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;

    .content {
        padding: 10px;
        position: absolute;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);

        .excerpt {
            font-size: 18px;
            margin: 0;
        }

        .details {
            font-size: 22px;
            font-weight: bold;
            color: #140C46;
        }

        h2 {
            font-size: 25px;
            font-weight: normal;
            text-align: center;
            margin: 0;
        }

        h3 {
            font-size: 15px;
            color: #ccc;
            font-weight: bold;
            text-align: center;
            margin: 0;
        }

        h4 {
            font-size: 15px;
            color: #222;
            font-weight: bold;
            text-align: center;
            margin: 0;
        }
    }
}

.overlay-box:hover {
    opacity: 100;
}

.header-particles {
    position: absolute;
    width: 100%;
    height: 100%;
}

.particle {
    position: absolute;
    animation-name: fluxparticle;
    animation-duration: 10s;
    box-shadow: 20px 20px grey;
}

@keyframes fluxparticle
{
    0%{
        background-color: #150c44;
        width: 250px;
        height: 250px;
        top: 100%;
    }
    40% {
        background: #e04a25;
        opacity: 1;
    }
    60% {
        background: #ea7e30;
    }
    100%{
        width: 0px;
        height: 0px;
        top: 0;
        opacity: 0;
    }
}